.btn-secondary {
  background-color: white;
  color: black;
}

.btn-warning {
  background-color: black;
  color: white;
}

.light-background {
  background-color: white;
  color: black;
}

.dark-background {
  background-color: black;
  color: white;
}
